<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <form  th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
      <label for="age" ></label>
      Age:<input type="text" th:field="*{age}" id="age" >
      <br>
      <label for="name"></label>
      Name:<input type="text" th:field="*{name}" id="name">
      <input type="submit" value="Update">
      <br>
          <p>
              <label>Roles:
                  <input type="checkbox" name="roles"
                         th:each="role : ${roles}"
                         th:text="${role.name}"
                         th:value="${role.id}"
                         th:field="*{roles}"
                  />
              </label>
          </p>
      <br>
      <input type="button" value="Exit" align="center"
             onclick="window.location.href = '/logout'" />
    </form>
</body>
</html>